@charset "UTF-8";
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
* { margin: 0; padding: 0; }
html,body { height: 100%; }
body { min-width: 380px; background: #fff; }
ul,ol { list-style: none; }
a { color: inherit; text-decoration: none; }
body, input, select, textarea, button, h1, h2, h3, h4, h5, h6, a {
  color: #111;
  font-size: 14px;
  font-weight: 400;
  font-family: 'NanumSquareNeo','NanumSquare','나눔스퀘어',AppleSDGothicNeo-Regular,"Helvetica Neue", Helvetica, Arial, sans-serif }



/*-----------------------------------------------------------------------------*/
body {

}

#header {
  margin: 20px 30px;
  position: fixed;
  z-index: 1000;
  top:0;
  right:0;
  left: 0;
}

#header #logo-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#header #logo-box #logo {
  background-image: url('../img/logo/logo.png');
  background-repeat: no-repeat;
  background-size: 100%;
  width: 30px;
  height: 30px;
  float: left;
}

#header #logo-box a {
  display: inline-block;
  float: left;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: -0.5px;
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #fff;
}

#header #logo-box a.button {
  margin-left: auto;
  margin-right: 22px;
    padding: 0px 6px;
    font-size: 12px;
    font-weight: 800;
    line-height: 32px;
    letter-spacing: -0.3px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 32px;
    transition: all .25s linear;
}
/*-----------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------*/
section {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner {
  max-width: 1440px;
  padding: 0 80px;
  margin: 0 auto;
}
/*-----------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------*/
section#screen1 {
  /* background-image: url('../img/main/bg_spot.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0 auto; */
  position: relative;
}

section#screen1 > article {
  color: #fff;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

section#screen1 article .video_wrap {
  /* position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  margin: 0;
  padding: 0; */
  object-fit: cover;
  width: 100%;
  height: 100%;
}

section#screen1 article .video_wrap .video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

section#screen1 article .video_wrap > .article-box {
  position: absolute;
  top: 35%;
  right: 0;
  bottom: 0;
  left: 0;
}

section#screen1 .video_wrap > .article-box p {
  margin-bottom: 8px;
  font-size: 22px;
  font-weight: 900;
  /* color: #fff; */
  text-transform: uppercase;
  text-align: center;
}

section#screen1 .video_wrap > .article-box h2 {
  margin-bottom: 40px;
  font-size: 98.6px;
  font-weight: 900;
  line-height: 104px;
  letter-spacing: -4px;
  color: #fff;
  text-align: center;
}

section#screen1 .video_wrap > .article-box .button-box {
}

section#screen1 .video_wrap > .article-box .button-box a.button {
  display: inline-block;
  margin-top: 16px;
  margin-left: auto;
  margin-right: 22px;
  padding: 13px 35px;
  font-size: 18px;
  font-weight: 800;
  /* line-height: 32px; */
  letter-spacing: -0.3px;
  color: #fff;
  border: 3px solid #fff;
  border-radius: 32px;
  transition: all .25s linear;
}

section#screen1 .video_wrap > .article-box .button-box a.button:after {
  content: '';
  background-image: url('../img/logo/1.png');
  background-size: 100%;
  width: 28px;
  height: 28px;
  display: inline-block;
  margin-left: 6px;
  /* margin-top: 13px; */
  /* background-color: red; */
}

section#screen1 .video_wrap > .article-box .button-box a.button:nth-of-type(2) {
  margin-right: 0px;
  color:#0c101d;
  background-color: #58ff70;
  border: 3px solid #58ff70;
}

section#screen1 .video_wrap > .article-box .button-box a.button:nth-of-type(2):after {
  content: '';
  background-image: url('../img/logo/2.png');
}

section#screen1 .video_wrap > .article-box .button-box a.page-down {
  display: block;
  position: absolute;
  left: 50%;
  bottom: 30px;
}
/*-----------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------*/
.fixed {
  position: fixed;
  top: 0;
  color: #111;
}
/*-----------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------*/
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: -60px;
  width: 100%;
  padding: 15px 0px;
  height: 30px;
  background-color: rgba(255, 255, 255, 1);
  /* min-width: 380px; */
  z-index: 10;
}

nav ul {
}

nav ul li {
  display: inline-block;
  line-height: 30px;
  padding: 0px 16px 0px 0px;
}

nav ul li a {
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    padding: 7px 16px;
    transition: all .25s linear;
}

nav ul li:hover a {
  background-color: rgba(0,0,0,0.1);
  border-radius: 24px;
}

nav ul li:nth-child(1) a {
  background-color: #000;
  color: #fff;
  border-radius: 24px;
}

/*-----------------------------------------------------------------------------*/


section#screen2 {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
}

section#screen2 .main-title {
  text-align: center;
  /* height: 642px; */
  padding-top: 83px;
  margin-top: 60px;
}

section#screen2 .main-title p {

  margin-bottom: 35px;
  font-size: 26px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 1px;
}

section#screen2 .main-title h2 {
  margin-bottom: 16px;
  font-size: 82px;
  font-weight: 800;
  line-height: 110px;
  letter-spacing: -2px;
}

section#screen2 .main-title h2 span {
  color: #0dcb67;
}

section#screen2 .main-title > span {
  display: block;
  margin-bottom: 231px;
  font-size: 20px;
  font-weight: 700px;
  letter-spacing: -1px;
  color: #999;
}

section#screen2 .main-title .data-text {
  position: absolute;
  margin-top: 200px;
  margin-left: 54px;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: -0.3px;
  color: #999;
  text-align: left;
}

section#screen2 .main-title.second {
  background-color: #0dcb67;
  width: 100%;
  height: 100vh;
}
section#screen2 .main-title.second h2 {
  font-size: 60px;
  font-weight: 800;
  line-height: 86px;
  letter-spacing: -1.5;
  color: #fff;
  margin-bottom: 80px;
}
section#screen2 .main-title.second h2 span {
  color: #fff;
}
section#screen2 .main-title.second img {
  margin: 0 auto 50px;
}
section#screen2 .main-title.second p {
  font-size: 18px;
  color: #fff;
}

section#screen2 .main-title.third h2 {
  font-size: 60px;
  font-weight: 800;
  line-height: 86px;
  letter-spacing: -1.5;
  margin-bottom: 80px;
}
section#screen2 .main-title.third.box-text {
  position: relative;
}
section#screen2 .main-title.third .box-text ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 60px;
  margin-bottom: 40px;
}
section#screen2 .main-title.third .box-text ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-basis: 33.333% ;
  height: 406px;
  border: 1px solid #ccc;
  border-radius: 28px;
  margin: 0px 15px;
  padding: 50px 0px 0px 0px;
}
section#screen2 .main-title.third .box-text ul li .box-inner-text strong {
  flex-basis: 33.333%;
  padding: 30px;
  font-size: 72px;
  font-weight: 800;
  line-height: 90px;
  letter-spacing: -1px;
  color: #111;
}
section#screen2 .main-title.third .box-text ul li .box-inner-text img {
  position: absolute;
}
section#screen2 .main-title.third .box-text ul li .box-inner-text img.girl {
  width: 140px;
  height: 140px;
  top:-60px;
  right: 10px;
}
section#screen2 .main-title.third .box-text ul li .box-inner-text img.img_tag01 {
  width: 130px;
  height: 58px;
  top: 185px;
  left: 155px;
}
section#screen2 .main-title.third .box-text ul li .box-inner-text img.img_tag02 {
  width: 128px;
  height: 50px;
  bottom: 60px;
  right: 122px;
}
section#screen2 .main-title.third .box-text ul li .box-inner-text img.img_tag03 {
  width: 186px;
  height: 56px;
  top: 60px;
  left: 160px;
}
section#screen2 .main-title.third .box-text ul li .box-inner-text img.img_tag04 {
  width: 258px;
  height: 56px;
  top: 230px;
  left: 100px;
}
section#screen2 .main-title.third .box-text ul li .box-inner-text img.boy {
  width: 140px;
  height: 140px;
  bottom: -60px;
  right: 10px;
}

section#screen2 .main-title.forth .scroll-text ul.scroll-list {
  position: relative;
  overflow: hidden;
}

section#screen2 .main-title.forth .scroll-text ul.scroll-list li {
  padding: 72px 200px 72px 0px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

section#screen2 .main-title.forth .scroll-text ul.scroll-list li:nth-child(2) {
  border-top: 0px
}

section#screen2 .main-title.forth .scroll-text .scroll-list li span {
  font-size: 64px;
  font-weight: 700;
  letter-spacing: -1.9px;
  color: #222;
}

section#screen2 .main-title.forth .scroll-text .scroll-list li span img {
  /* position: absolute; */
  margin: 0px 30px;
}

section#screen2 .main-title.fifth h2 {
  font-size: 60px;
}

section#screen2 .main-title.fifth ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 406px;
  margin: 0 auto;
  padding: 6px;
  background-color: #f4f5f6;
  border-radius: 27px;
}

section#screen2 .main-title.fifth ul li {
  padding: 9px 0px;
  flex-grow: 1;
}

section#screen2 .main-title.fifth ul li:nth-child(1) {
  background-color: #111;
  border-radius: 32px;
}

section#screen2 .main-title.fifth ul li:nth-child(1) a {
  color: #fff;
}

section#screen2 .main-title.fifth ul li a {
  font-size: 18px;
  font-weight: 800;
  color: #999;
}



/*-----------------------------------------------------------------------------*/
#screen1 {
  /* background-color: #ffc8dd; */
}
#screen2 {
  background-color: #fff;
}
#screen3 {
  background-color: #cdb4db;
}
#screen4 {
  background-color: #bde0fe;
}
#screen5 {
  background-color: #a2d2ff;
}
#screen6 {
  background-color: #f1f1f1;
}
#screen7 {
  background-color: #f9f9f9;
}
/*-----------------------------------------------------------------------------*/
